apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: tourstack
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "Shubham@6024"
            - name: MYSQL_DATABASE
              value: "tourstack"
            - name: MYSQL_USER
              value: "tourstack"
            - name: MYSQL_PASSWORD
              value: "Shubham@6024"
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
      volumes:
        - name: mysql-data
          persistentVolumeClaim:
            claimName: mysql-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: tourstack
spec:
  type: ClusterIP
  selector:
    app: mysql
  ports:
    - port: 3306
      targetPort: 3306
