name: CI-CD-K8S

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

     
      # Terraform Infra Create 
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve

      - name: Get EC2 Public IP
        id: tf_output
        working-directory: terraform
        run: echo "EC2_IP=$(terraform output -raw ec2_public_ip)" >> $GITHUB_ENV

      - name: Wait for Kubernetes Setup
        run: sleep 150



      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/tourstack-backend:latest

      - name: Build and Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/tourstack-frontend:latest



      
      - name: Copy k8s Folder to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ env.EC2_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "k8s"
          target: "/home/ubuntu/"



     
      - name: Deploy to EC2 Kubernetes
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ env.EC2_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            kubectl apply -f /home/ubuntu/k8s/namespace.yaml
            kubectl apply -f /home/ubuntu/k8s/mysql-pvc.yaml
            kubectl apply -f /home/ubuntu/k8s/mysql-deployment.yaml
            kubectl apply -f /home/ubuntu/k8s/backend-deployment.yaml
            kubectl apply -f /home/ubuntu/k8s/frontend-deployment.yaml

            kubectl rollout restart deployment/backend -n tourstack
            kubectl rollout restart deployment/frontend -n tourstack

            kubectl rollout status deployment/backend -n tourstack
            kubectl rollout status deployment/frontend -n tourstack
